<!--cái này dùng để thiết kế những cái như tìm kiếm, hiển thị các chủ đề, bài viết nổi bật ,.....-->

<div class="my-4">
    <!--form tìm kiếm -->
    <partial name="_SearchForm" />

    <!--Các chuyên mục/chủ đề-->
    @await Component.InvokeAsync("CategoriesWidget")

    <!--top các bài viết nỗi bật-->
    @await Component.InvokeAsync("Archives")
    
    <!--Đăng kí nhận tin mới-->
    @await Component.InvokeAsync("FeaturedPosts")
    
    <!--tag cloud-->
    <h1>Tag cloud</h1>
   
</div>
